@model Antaram_game.Models.DTOs.ResponseDto
<html>
<head>
    <link href="..\css\StyleSheet.css" rel="stylesheet">
</head>
<body>

</body>
</html>

<form method="post">
    <fieldset>
        <label for="Name">Name</label>
        <input type="text"
               name="Name"
               id="Name"
               required />
        <label for="Password">Password</label>
        <input type="text"
               name="Password"
               id="Password"
               required />
        <button type="submit">Login</button>
    </fieldset>
</form>

@if (Model != null)
{
    <p style="color: orange">@Model.Message</p>
}