@model Antaram_game.Models.DTOs.ResponseDto

<!DOCTYPE html>
<html>
<head>
    <title>Antaram - Character Creation</title>
    <link href="..\img\pcicon.png" rel="icon">
    <link href="..\img\touch-icon.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="..\css\styleCrChar.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="hero" class="container">
        <div class="card">
            <div class="card-header">
                <h3>Create a Character</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="Name" class="form-control" placeholder="name">
                    </div>
                    <div class="input-group form-group first-input">
                        <label for="Race">Race</label>
                        <select name="Race" id="select1">
                            <option value="human"> Human </option>
                            <option value="elf"> Elf </option>
                            <option value="dwarf"> Dwarf </option>
                            <option value="orc"> Orc </option>
                        </select>
                    </div>
                    <div class="input-group form-group">
                        <label for="Style">Style</label>
                        <select name="Style" id="select2">
                            <option value="fighter">Fighter</option>
                            <option value="mystic">Mystic</option>
                        </select>
                        <div class="charstats">
                            <ul>
                                <li>HP = 300</li>
                                <li>Mana = 100</li>
                                <li>Physical = 5</li>
                                <li>PhysicalDefense = 5</li>
                                <li>Magic = 1</li>
                                <li>MagicalDefense = 2</li>
                            </ul>
                        </div>
                        @if (Model != null)
                        {
                            <p style="color: red; font-size: 16px; margin-left: 0px;">@Model.Message</p>
                        }
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
        <div id="image">
            <img src="../img/human-fighter.png" />
        </div>
    </div>
    <script>
        $("#select1").change(function() {
            var race = $(this).val();

            $.ajax({
                type: 'GET',
                url: '/charcreation',
                success:
                    function(response) {
                        switch (race) {
                            case "human":
                                var markup = "<select name='Style'><option value='fighter'>Fighter</option><option value='mystic'>Mystic</option></select>";
                                var image = "<img src='../img/human-fighter.png'/>";
                                var charstats = "<ul><li>HP = 300</li><li>Mana = 100</li><li>Physical = 5</li><li>PhysicalDefense = 5</li><li>Magic = 1</li><li>MagicalDefense = 2</li></ul>"
                                break;
                            case "elf":
                                var markup = "<select name='Style'><option value='fighter'>Fighter</option><option value='mystic'>Mystic</option></select>";
                                var image = "<img src='../img/elven-fighter.png'/>";
                                var charstats = "<ul><li>HP = 250</li><li>Mana = 150</li><li>Physical = 7</li><li>PhysicalDefense = 3</li><li>Magic = 2</li><li>MagicalDefense = 1</li></ul>"
                                break;
                            case "dwarf":
                                var markup = "<select name='Style'><option value='fighter'>Fighter</option></select>";
                                var image = "<img src='../img/dwarven-fighter.png'/>";
                                var charstats = "<ul><li>HP = 450</li><li>Mana = 100</li><li>Physical = 3</li><li>PhysicalDefense = 8</li><li>Magic = 1</li><li>MagicalDefense = 4</li></ul>"
                                break;
                            case "orc":
                                var markup = "<select name='Style'><option value='fighter'>Fighter</option></select>";
                                var image = "<img src='../img/orc-fighter.png'/>";
                                var charstats = "<ul><li>HP = 350</li><li>Mana = 120</li><li>Physical = 10</li><li>PhysicalDefense = 2</li><li>Magic = 1</li><li>MagicalDefense = 2</li></ul>"
                        }
                        $("#select2").html("<label for='Style'>Style</label>" + markup);
                        $("#image").html(image);
                        $(".charstats").html(charstats);
                    }
            });
        })
        $("#select2").change(function() {
            var style = $("#select2").val();
            var race = $("#select1").val();

            $.ajax({
                type: 'GET',
                url: '/charcreation',
                success:
                    function(response) {
                        if (race == "human") {
                            if (style == "fighter") {
                                var image = "<img src='../img/human-fighter.png'/>";
                                var charstats = "<ul><li>HP = 300</li><li>Mana = 100</li><li>Physical = 5</li><li>PhysicalDefense = 5</li><li>Magic = 1</li><li>MagicalDefense = 2</li></ul>"
                            }
                            else {
                                var image = "<img src='../img/human-mage.png'/>";
                                var charstats = "<ul><li>HP = 190</li><li>Mana = 300</li><li>Physical = 1</li><li>PhysicalDefense = 2</li><li>Magic = 5</li><li>MagicalDefense = 5</li></ul>"
                            }
                        }
                        else if (race == "elf") {
                            if (style == "fighter") {
                                var image = "<img src='../img/elven-fighter.png'/>";
                                var charstats = "<ul><li>HP = 250</li><li>Mana = 150</li><li>Physical = 7</li><li>PhysicalDefense = 3</li><li>Magic = 2</li><li>MagicalDefense = 1</li></ul>"
                            }
                            else {
                                var image = "<img src='../img/elven-mage.png'/>";
                                var charstats = "<ul><li>HP = 170</li><li>Mana = 350</li><li>Physical = 1</li><li>PhysicalDefense = 1</li><li>Magic = 7</li><li>MagicalDefense = 6</li></ul>"
                            }
                        }
                        $("#image").html(image);
                        $(".charstats").html(charstats);
                    }
            });
        })
    </script>
</body>
</html>
